<div class="card border-primary">
  <div class="card-body">
    <%= form_with model: [@todo_list, @task], local: true do |form| %>
      <div class="form-group">
        <%= render 'shared/errors', resource: @task %>

        <p>
          <%= form.label :description %>
          <%= form.text_area :description, id: :task_description, autofocus: true, class: 'form-control' %>
        </p>

        <p>
          <%= form.label :expiration_time %>
          <%= form.datetime_field :expiration_time, id: :task_expiration_time, class: 'form-control' %>
        </p>

        <% if @task.persisted? %>
          <p>
            <%= form.label :done %>
            <%= form.check_box :done %>
          </p>
        <% end %>

        <p><%= form.submit class: 'btn btn-primary' %></p>
      </div>
    <% end %>
  </div>
</div>