<tr>
  <td><%= task.description %></td>
  <td><%= task.expiration_time %></td>
  <td><%= task.done %></td>
  <td><%= link_to 'Show', task_path(task) %></td>
  <td><%= link_to 'Edit', edit_task_path(task) %></td>
  <td><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
